/*        Credits : @its_robinayush        */


/*  Do Not Delete This File (Includes Page CSS)  */




body{
    background: #ffffff;
}



.font-color_white{
    color: rgb(0, 0, 0);
}

.cinzel{
    font-family: 'Cinzel', serif;
}

.satisfy{
    font-family: 'Satisfy', cursive;
}

.float_left{
    float: left;
}

.float_right{
    float: right;
}




/*        Credits : @its_robinayush        */